*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-heading{
    width: 100%;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(42, 0, 77);
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}